<%= link_to 'Chatroom', root_path, class:"item" %>
<%= link_to 'Messages', '#',  class:"item" %>
<div class="right menu">
	<div class="ui dropdown item">
		Account <i class="dropdown icon"></i>
		<div class="menu">
			<%= link_to 'Log out', '#', method: :delete, class:"item",
				data: { confirm: "Are you sure?" } %>
			<%= link_to 'Log in', 'login_path', class:"item" %>
			<%= link_to 'Sign up', '#', class:"item" %>
		</div>
	</div>
	<div class="item">
			<%= link_to 'Sign up', '#', class: "ui primary button" %>
	</div>
</div>